body{
  overflow-x: hidden;
}
.container-fluid{
  margin-top:110px;
}
.div1{
  border-radius: 40px 0 0 0;
  margin-left: 30px;
  background-color: #88BFFE;
  height: 840px;
  box-shadow: 10px 10px 50px 10px rgb(0, 0, 0);
  width:100%;
  overflow: hidden;
}
.div2{
  margin-top: 200px;
  margin-left: 50px;
  border-radius: 40px 0 0 0;
  background-color: black;
  height: 640px;
  box-shadow: 10px 10px 50px 10px rgb(0, 0, 0);
  overflow: hidden;
}
.div3{
  margin-top: 350px;
  margin-left: 75px;
  border-radius: 40px 0 0 0;
  background-color: rgb(255, 255, 255);
  height: 490px;
  box-shadow: 10px 10px 50px 10px rgb(0, 0, 0);
  overflow: hidden;
}
.div4{
  margin-left:95px;
  margin-top:700px;
  background-color: #E84242;
  height: 320px;
  margin-top: 520px;
  border-radius: 40px 0 0 0;
  box-shadow: 10px 10px 50px 10px rgb(0, 0, 0);
}
@media screen and (max-width: 1199px){
  .div4{
    margin-top: 631px;
  }
  .div1{
    height:951px;
  }
  .div2{
    height: 751px;
  }
  .div3{
    height: 601px;
  }

}
@media screen and (max-width: 766px){
  .div4{
    margin-top: 700px;
  }
  .div1{
    height:1020px;
  }
  .div2{
    height: 820px;
  }
  .div3{
    height: 670px;
  }

}


.div1 h3{
  margin-top: 100px;
  margin-left: 90px;
  font-weight: bold;
}
#btn{
  margin-left: 90px;
  background: #FFF;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  border: none;
  cursor:default;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-right: 20px;
}
#btn span{
  width: 200px;
  padding-right: 10px;
  padding-left: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
}
#btn span.num{
  font-size: 25px;
  border-right: 2px solid rgba(0,0,0,0.2);
  border-left: 2px solid rgba(0,0,0,0.2);
  pointer-events: none;
}
@media screen and (min-width: 770px){
  #btn{
    margin-top: 90px;
  }
  #trip-start{
    margin-left: 50px;
  }
  #trip-end{
    margin-left: 50px;
  }
}
@media screen and (max-width: 770px){
  #btn3{
    margin-left: 70px;
  }
  #trip-start{
    margin-left: 50px;
  }
  
}


/*persons*/
.persons{
  margin-left: 75px;
}
.persons h3{
  color: white;
  font-weight: bold;
}
#btn2{
  margin-left: 90px;
  background: #FFF;
  border-radius: 12px;
  box-shadow:0px 0px 20px 5px rgba(0, 0, 0, 0.153);
  border: none;
  cursor:default;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-right: 20px;
}
#btn2 span{
  width: 200px;
  padding-right: 10px;
  padding-left: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
}
#btn2 span.num1{
  font-size: 25px;
  border-right: 2px solid rgba(0,0,0,0.2);
  border-left: 2px solid rgba(0,0,0,0.2);
  pointer-events: none;
}

/*budget*/
.budget{
  margin-left: 55px;
}
.budget h3{
  font-weight: bold;
}

#btn3{
  background-color: white;
  border: 0;
  cursor: default;
  box-shadow:0px 0px 20px 5px rgba(0, 0, 0, 0.153);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  border-radius: 10px;
  padding-left: 10px;
  margin-top: 10px;
}
#btn3 input{
  border: 0;
  outline: none;
  width: 80px;
}

#trip-start{
  justify-content: center;
  align-items: center;
}

.price h3{
  margin-left: 70px;
  color: black;
}
.price button{
  margin-left: 70px;
}


.next button{
  margin-left: 1100px;
  cursor: default;
  border: none;
  border-radius: 40px;
  padding-left: 30px;
  padding-right:30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  color: white;
}

.next button i{
  padding-left: 5px;
}
.next button:hover{
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.317);
  transition: 0.3s;
}
.next button:active{
  box-shadow:0px 0px 20px 5px rgba(0, 0, 0, 0.500);
  transition: 0.5s;
}
@media screen and (max-width : 1326px){
  .next button{
    margin-left: 1000px;
  }
}
@media screen and (max-width:1217px){
  .next button{
    margin-left: 900px;
  }
  
}
@media screen and (max-width:1236px) {
  .next button{
    margin-left: 900px;
  } 
}
@media screen and (max-width:1140px){
  .next button{
    margin-left: 800px;
  }
}
@media screen and (max-width:1030px){
  .next button{
    margin-left:700px;
  }
}
@media screen and (max-width:892px){
  .next button{
    margin-left:600px;
  }
}
@media screen and (max-width:803px){
  .next button{
    margin-left: 500px;
  }
}
@media screen and (max-width:726px){
  .next button{
    margin-left: 400px;
  }
}
@media screen and (max-width:639px){
  .next button{
    margin-left: 350px;
  }
}
@media screen and (max-width:582px){
  .next button{
    margin-left: 300px;
  }
}
@media screen and (max-width:518px){
  .next button{
    margin-left: 250px;
  }
}
@media screen and (max-width:443px){
  .next button{
    margin-left: 200px;
  }
}



.search-bar{
  margin-top:-50px;
  z-index: 5;
  margin-left:45px;
  background-color: white;
  border-radius: 0 0 20px 0;
  box-shadow: 2px 0px 20px 0px rgba(0, 0, 0, 0.435);
}
.search-bar input{
  border: 0;
  outline: none;
  padding: 20px 10px;
  font-size: 27px;
  align-items: center;
  justify-content: center;
}
.search-bar button{
  background-color: #00FF19;
  outline: none;
  border: 0;
  height: 100px;
  border-radius: 0 30px 0 0;
}
.search-bar button i{
  font-size: 35px;
}